In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
# Change the IP for Future use
producer = KafkaProducer(bootstrap_servers=['52.66.250.166:9092'],
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [3]:
producer.send('kafka-react', value={'key1':'parasdasdmar'})

In [2]:
df = pd.read_csv("../train_cleaned.csv")
# df_test = pd.read_csv("../test_cleaned.csv")

In [3]:
df.head()

,id,keyword,location,text,labels,has_url
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,False
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,False
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,False
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,False
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,False

In [49]:
df["location"].dropna()

31            birmingham
32           [something]
33                africa
34      philadelphia, pa
35                london
              ...
6677                  tn
6679         [something]
6681         [something]
6682         [something]
6683         [something]
Name: location, Length: 4509, dtype: object

In [4]:
df["location"].unique()

array([nan, 'birmingham', '[something]', 'africa', 'philadelphia, pa',
       'london', 'pretoria', 'india', 'barbados', 'usa', 'south africa',
       'calgary, ab', 'san francisco', 'nashville, tn', 'uk',
       'st. louis, mo', 'australia', 'north carolina', 'arlington, tx',
       'new hanover county, nc', 'maldives', 'manchester, nh',
       'wilmington, nc', 'planet earth', 'charlotte', 'baton rouge, la',
       'nairobi, kenya', 'instagram - @heyimginog ', '304',
       'somewhere only we know ?', 'belgium', '19.600858, -99.047821',
       'pennsylvania', 'financial news and views', 'indonesia', 'canada',
       'israel', 'san francisco, ca', 'italy', 'new york', 'toronto',
       'new orleans, la', 'arizona ', 'mumbai', 'north carolina, usa',
       'boston', 'pa', 'swaning around', 'california', 'subconscious la',
       'rock hill, sc', 'republic of texas', 'phoenix, az', 'colorado',
       'texas', 'austin, tx', 'oakland', 'buenos aires, argentina',
       'oregon, usa', 'las vegas', 'tokyo', 'california, united states',
       '#flightcity uk  ', 'nowhere. everywhere.', 'florida, usa',
       'east coast', 'kent', 'cyprus', 'memphis, tn', 'pakistan',
       'washington dc', 'charlotte, nc', 'milwaukee, wi', 'ss', 'atlanta',
       'america', 'nyc :) ex- #islamophobe', 'sf bay area',
       'orange county, california', 'adelaide, south australia',
       'dallas, tx', 'location', 'ireland', 'dubai', 'tucson, az',
       'seattle wa', 'scotland, united kingdom', 'portland, oregon', 'ph',
       'los angeles', 'texas, usa', 'atx', 'denver, co', 'brasil',
       'buy give me my money ', 'philippines', 'san jose, ca', 'utah',
       'wisconsin', 'washington d.c.', 'nc', 'atlanta, ga',
       'manhattan, ny', 'memphis', 'sydney, new south wales',
       'budapest, hungary', 'columbus', 'fresno, ca', 'rio de janeiro',
       'columbus, oh', 'mo.city', 'arizona', 'gotham city', 'your screen',
       'everywhere', 'nigeria', 'az', 'baltimore, md', 'seattle', 'va',
       'florida', 'brooklyn, ny', 'ottawa, canada', 'calgary, alberta',
       'kama | 18 | france ', 'sydney', 'scotland', 'vancouver, bc',
       'cleveland, oh', 'ontario canada', 'washington, usa',
       "dime's palace", 'seattle, wa', 'htx', '???', 'ewa beach, hi',
       'buenos aires', 'malaysia', 'chicago', 'leicester', 'singapore',
       'glasgow', 'santa cruz, ca', 'oklahoma', 'georgia', 'st paul, mn',
       'houston, tx', 'mi', 'austin, texas', 'oklahoma city', 'ca',
       'charlotte nc', 'long island, ny', 'washington, d.c.',
       'lincoln, ne', 'manchester', 'knoxville, tn', 'lagos nigeria',
       'odawara, japan', 'chicago, il', 'des moines, ia', '??',
       'melbourne', 'cape town', 'ma', 'sydney, australia',
       'silicon valley', 'leeds, england', 'nj', 'denver, colorado',
       'selma2oakland', 'new hampshire', 'world wide', 'tulsa, oklahoma',
       'fort walton beach, fl', 'sweden', 'roanoke, va', 'boston, ma',
       'oklahoma city, ok', 'germany', 'massachusetts', 'erie, pa',
       'gainesville, fl', 'oakland, ca', 'dc', 'cherry creek denver co',
       'http://www.amazon.com/dp/b00hr', 'sacramento, ca',
       'victoria, british columbia', 'midwest', 'jamaica',
       'trinidad and tobago', 'melbourne australia', 'indiana', 'nairobi',
       'london uk', 'kenya', 'virginia', 'liverpool',
       'massachusetts, usa', 'kansas city, mo', 'stockholm, sweden',
       'portugal', 'portland, or', 'dublin, ireland', 'wales',
       'seattle, washington', 'las vegas, nevada', 'colombia', 'norway',
       'suplex city', 'sydney australia', 'lagos, nigeria',
       'the netherlands', 'chicago, illinois', 'san jose, california',
       'europe', 'kingston, jamaica', 'san francisco bay area',
       'perth, western australia', 'michigan', 'pennsylvania, usa',
       'oregon', 'tennessee', 'johannesburg, south africa', 'california ',
       'sacramento', 'ontario, canada', 'maryland',
       '21.462446,-158.022017', 'melbourne, australia', 'san antonio, tx',
       'miami, fl', 'u.k.', 'trinidad & tobago', 'toronto, ontario',
       'state college, pa', 'adelaide, australia', 'illinois, usa',
       'miami', 'geneva', 'columbia, sc', 'right here', 'unknown',
       'somewhere in the canada', 'newcastle upon tyne, england',
       'orlando, fl', 'south stand', "spare 'oom", 'kansas',
       'new york, new york', 'lagos', 'does it really matter!',
       'edinburgh', 'hong kong', 'berlin, germany', 'tampa, fl',
       'brisbane', '617-btown-beatdown', 'nottingham, england',
       'karachi, pakistan', 'newcastle', 'mad as hell', 'kolkata',
       'glasgow, scotland', 'paterson, new jersey ', 'lisbon, portugal',
       '??????', 'buffalo, ny', 'nairobi-kenya', 'u.s.a', 'anchorage, ak',
       'washington, dc & charlotte, nc', 'alexandria, va',
       'philadelphia, pa ', 'the insane asylum. ', 'michigan, usa',
       'istanbul', 'chile', 'virginia, usa', 'san diego, ca', 'japan',
       'honduras', 'new england', 'thailand', 'boise, idaho',
       'all around the world', 'georgia, usa', 'moscow',
       'manchester, england', 'manchester, uk', 'winston-salem, nc',
       'bournemouth', 'vancouver bc', 'naperville',
       'los angeles, california', 'usa (formerly @usnoaagov)',
       'philadelphia', 'coventry', 'scandinavia', 'madison, wi',
       'ca via brum', 'argentina', 'desde republica argentina',
       'hawaii, usa', 'new zealand', 'in the word of god', 'here.',
       'karachi pakistan', '?????', 'mumbai, maharashtra', 'phoenix',
       'indianapolis, in', 'five down from the coffeeshop', 'calgary',
       'kansas city', 'olympia, wa', 'british columbia, canada',
       'auckland', 'vancouver, british columbia', 'alaska',
       'birmingham, england', 'san diego', 'chevy chase, md', 'wa state',
       'gold coast, australia', 'washington', 'bend, oregon',
       'minna, nigeria', 'moncton, new brunswick',
       'yamaku academy, class 3-4', 'winnipeg', 'bakersfield, california',
       'haddonfield, nj', 'southern california', 'in the potters hands',
       'new jersey', '434', 'tx', 'sì£o paulo', 'newark, nj',
       'niagara falls, ontario', 'hell', 'asheville, nc',
       'melbourne, victoria', 'derby', "jakarta/kuala lumpur/s'pore",
       'global-nolocation', 'redding, california, usa',
       'washington state', 'heaven', 'calgary, ab, canada',
       ' queensland, australia', 'cleveland, oh - san diego, ca',
       'port harcourt, nigeria', 'the universe', 'mesa, az', 'dubai, uae',
       'mnl', 'louisiana', 'baltimore', 'asia', 'dundee', 'jakarta',
       'venezuela', 'greensboro, north carolina', 'leesburg, fl',
       'victoria, bc', 'victoria, australia, earth', 'new sweden',
       'anonymous', 'huntsville, al', 'haysville, ks', 'ashburn, va',
       'raleigh, nc', 'somewhere usa ', 'austin tx', 'upstairs.',
       'federal capital territory', 'durham, nc', 'toronto, canada',
       'narnia', 'macon, ga', 'detroit', '?', 'bangalore, india',
       'los angeles ', 'vancouver usa', 'united states of america',
       'san diego california 92101', 'auckland, new zealand', 'karachi',
       'ohio, usa', 'a little house in the outback.', 'accra,ghana',
       'pittsburgh', 'somalia', 'above the snake line - #yonews',
       '???  dreamz', 'the american wasteland (mv)', 'ohio', 'they/them ',
       'decatur, ga', 'taylor swift', 'helsinki', 'tn',
       'iraq|afghanistan| rsa |baghdad', 'new delhi, india',
       'enfield, uk', 'jupiter', 'houston', 'costa rica', 'incognito',
       'brooklyn, nyc', '140920-21 & 150718-19 beijing', 'kashmir!'],
      dtype=object)

In [10]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="MyApp")
location = geolocator.geocode(df["location"][112])

In [47]:
# print(location.lat)
dat = "nan"

if not pd.isna(dat) :
    
    # print( location)
    try: 
        location = geolocator.geocode(dat)
        print(location.longitude, location.latitude)
    except:
        print("server time out")
else: 
    print("NULL")

11.0480288 46.3144754

In [37]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('kafka-react', value=dict_stock)
    sleep(2)

NameError: name 'producer' is not defined

In [9]:
# Clear the data form kafka server
producer.flush()

In [1]:
#Email sending 
import yagmail
yag = yagmail.SMTP("subhodip.ghosh2022@vitstudent.ac.in", "asuznbicwwryexef")

In [3]:
push_disaster = {
                "text": "dict_disaster.get()",
                "location": {
                    "lat": "location.latitude",
                    "lng": "location.longitude",
                },
            }

In [4]:
yag.send("macy16661@gmail.com", "HELLO", f"{push_disaster.text} {push_disaster.location}")

AttributeError: 'dict' object has no attribute 'text'